<app-nav-component></app-nav-component>
<header>
    <h1>Explora la magia de la vida salvaje en nuestro Zoo</h1>
</header>
<main>
    <section class="bienvenida">
        <h2>¡Bienvenidos al maravilloso mundo del Zoo de Loja!</h2>
        <div class="bienvenida-img">
            <p>Descubre la vida salvaje: Adéntrate en los distintos hábitats que hemos recreado cuidadosamente para nuestros residentes animales. Pasea por la selva tropical, donde podrás observar coloridos pájaros tropicales y monos juguetones. Sumérgete
                en el mundo submarino en nuestro acuario, donde criaturas fascinantes nadan graciosamente. Explora la sabana africana y observa de cerca a los majestuosas jirafas.</p>
            <img src="../../../assets/img/img1.jpg" alt="tulcan">
        </div>
        <button mat-raised-button routerLink="/Animales" color="warn">¡Descubre más de nuestra Fauna Aqui!</button>
    </section>

    <section class="actividades">
        <h2>Actividades</h2>
        <p>"¡Descubre la magia del reino animal en nuestro zoo y vive una experiencia inolvidable! Explora fascinantes exhibiciones, interactúa con animales asombrosos, disfruta de emocionantes espectáculos y sumérgete en un mundo lleno de diversión y aprendizaje
            para toda la familia. ¡Únete a nosotros y crea recuerdos inolvidables mientras te adentras en la increíble diversidad de la vida salvaje!"</p>
        <div class="actividades-img">
            <img src="../../../assets/img/imagen-1.jpg" alt="imagen actividad 1">
            <img src="../../../assets/img/imagen-2.jpg" alt="imagen actividad 2">
            <img src="../../../assets/img/imagen-3.jpeg" alt="imagen actividad 3">
            <img src="../../../assets/img/imagen-4.jpeg" alt="imagen actividad 4">
        </div>
        <button id="botones" mat-raised-button color="warn" routerLink="/actividades">¡Descubre más Aqui!</button>
    </section>

    <section class="voluntariado">
        <h2>Ofrécete como Voluntario</h2>
        <p>"¿Te apasiona la conservación de la vida animal y quieres ser parte de nuestro equipo comprometido? Únete a nuestro programa de voluntariado en el zoo y conviértete en un agente de cambio. Como voluntario, tendrás la oportunidad de trabajar codo
            a codo con nuestro equipo de expertos en el cuidado de los animales, participar en actividades de enriquecimiento ambiental, colaborar en programas de educación ambiental y contribuir directamente a la preservación de especies en peligro de
            extinción. ¡Únete a nosotros y forma parte de una comunidad que comparte tu amor y compromiso por la vida salvaje!"</p>
        <div class="voluntariado-img">
            <img src="../../../assets/img/voluntario-1.jpeg" alt="voluntariado 1">
            <img src="../../../assets/img/voluntario-2.jpg" alt="voluntariado 2">
        </div>
        <button mat-raised-button routerLink="/Voluntarios" color="warn">¡Descubre más Aqui!</button>
    </section>
</main>
<app-footer></app-footer>