<app-nav-component></app-nav-component>
<app-carousel-animales-page></app-carousel-animales-page>

<section class="lista-animales">

    <div class="cabecera-lista-animales">
        <h2>Dale un vistazo a las especies que cuidamos en nuestro Zoo</h2>

        <img id="imagen-fondo1" src="../../../assets/img/page-animales/fondo-1.svg" alt="img">
        <img id="imagen-fondo2" src="../../../assets/img/page-animales/fondo-2.svg" alt="img-2">
        <mat-card>
            <mat-card-content>
                <p>
                    ¡Bienvenidos a nuestra increíble sección de animales del zoológico! Aquí podrán maravillarse con la
                    diversidad y belleza de las especies que habitan en nuestro santuario animal. Desde majestuosos
                    leones hasta pequeños y curiosos monos, tenemos una amplia
                    variedad de criaturas para que disfruten. Admiren la gracia y elegancia de las jirafas mientras se
                    pasean por su hábitat, o contemplen la destreza de los ágiles tigres mientras saltan de rama en
                    rama. A medida que recorran nuestro
                    zoológico, descubrirán la riqueza de la vida salvaje y aprenderán sobre la importancia de preservar
                    y proteger a estas increíbles especies. ¡Disfruten de esta aventura llena de emociones y
                    descubrimientos en nuestro mundo animal!
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <app-animales-lista-layouts></app-animales-lista-layouts>




</section>



<app-footer></app-footer>