<div class="card card-container py-1 px-2">
    <div class="card-body">
        <div class="card-title ms-2 my-2 mb-4">
            <h5 class="text-capitalize">{{data.nombres}} {{data.apellidos}} </h5>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">id: {{data. id_Voluntarios}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Cedula: {{data.cedula}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Edad: {{data.edad}}</h6>
                        <p class="card-text">Telefono: {{data.telefono}}</p>
                        <p class="card-text">Experiencia: {{data.experiencia}}</p>
                        <p class="card-text">Motivacion: {{data.motivacion}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <img src="../../../../../assets/img/pages-voluntarios/img/{{data.imagen}}" class="card-img h-100" alt="">
            </div>
        </div>
    </div>
</div>