<app-nav-component></app-nav-component>
<section class="Nosotros">
    <div class="mision">
        <h2>Misión</h2>
        <p>Nuestra misión es promover la conservación y el bienestar de la vida silvestre a través de la educación, la
            investigación y la recreación. Como zoológico, nos comprometemos a preservar y proteger la diversidad
            biológica del planeta, brindando un entorno seguro y enriquecedor para los animales que residen con
            nosotros, así como fomentando la conciencia ambiental en nuestros visitantes.
            Nos esforzamos por ser líderes en la conservación de especies en peligro de extinción y en la investigación
            científica, contribuyendo activamente al conocimiento y la comprensión de los ecosistemas naturales y los
            desafíos que enfrentan las especies animales. A través de nuestros programas educativos, buscamos inspirar a
            las generaciones actuales y futuras a apreciar, respetar y cuidar el mundo natural.</p>
    </div>
    <div class="vision">
        <h2>Visión</h2>
        <p>Nuestra visión es convertirnos en un centro de referencia global para la conservación de la vida silvestre y
            la educación ambiental. Deseamos ser reconocidos como un modelo de excelencia en el cuidado y la gestión
            responsable de los animales en cautiverio, así como en la promoción de prácticas sostenibles y respetuosas
            con el medio ambiente.

            Buscamos ser un motor de cambio positivo en la protección de la biodiversidad, estableciendo alianzas
            estratégicas con organizaciones de conservación, instituciones académicas y otros zoológicos para colaborar
            en proyectos de investigación y programas de reproducción en cautiverio.

            Además, nos esforzamos por brindar experiencias enriquecedoras a nuestros visitantes, conectándolos
            emocionalmente con los animales y fomentando la toma de conciencia sobre la importancia de la conservación y
            la responsabilidad individual en la preservación de nuestro entorno natural.</p>
    </div>
</section>
<app-footer></app-footer>