<div class="container">
    <div class="card border-0 shadow-none ">
        <div class="card-header bg-transparent border-0 mt-2">Detalles de la Solicitud</div>
        <div class="card-body">
            <p><strong>Nombres:</strong> {{data.nombres}}</p>
            <p><strong>apellidos:</strong> {{data.apellidos}}</p>
            <p><strong>cedula:</strong> {{data.cedula}}</p>
            <p><strong>Edad:</strong> {{data.edad}}</p>
            <p><strong>Telefono:</strong> {{data.telefono}}</p>
            <p><strong>Experiencia:</strong> {{data.experiencia}}</p>
            <p><strong>Motivacion:</strong> {{data.motivacion}}</p>
        </div>
    </div>
</div>