<section class="vh-100">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 text-black form-login">
  
            <div class="px-5 ms-xl-4 mt-5">
                <img src="../../../../assets/img/Prototipo3-solo-removebg-preview.png" class="img-thumbnail" alt="">
                <span class="h1 fw-bold mb-0 text-title">Zoo Municipal de Loja</span>
            </div>
  
            <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
    
                <form style="width: 25rem;" [formGroup]="usuarioLogin" (ngSubmit)="onSubmit()">
                    <h1 class="mb-3 pb-3">Login</h1>
                    <div class=" mb-1">
                        <mat-form-field appearance="outline" class="w-75">
                            <mat-label>Cedula</mat-label>
                            <input type="text" matInput autocomplete="off" formControlName="cedula">
                            <mat-icon matPrefix>person</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="mb-0">
                        <mat-form-field appearance="outline" class="w-75">
                            <mat-label>Contraseña</mat-label>
                            <input id="input" [type]="hide ? 'password' : 'text'" matInput autocomplete="off" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon class="icon-password">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                            <mat-icon matPrefix>lock</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="pt-4 mb-4 mt-0">
                        <button class="btn btn-outline-success w-75">
                            Iniciar Sesión 
                        </button>
                        <button class="btn btn-outline-danger btn-sm w-75 mt-4" routerLink="">
                            <mat-icon>home</mat-icon>
                        </button>
                    </div>  
                </form>
          </div>
  
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="../../../../assets/img/login.jpg"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
        </div>
      </div>
    </div>
</section>