<footer>
    <div class="info">
        <div class="info-logo">
            <img src="../../../assets/img/Logo.png" alt="logo">
            <h3>Zoo Municipal de Loja</h3>
        </div>
        <p>Av. 8 de Diciembre,Loja/Loja-Ecuador</p>
        <span>Horarios:Lunes-Cerrado</span>
        <span>Martes a Domingo 9am-5pm</span>
    </div>

    <div class="nosotros">
        <p>La Municipalidad de Loja creó el Zoológico Municipal de Loja en el año 2004 para brindar un espacio de aprendizaje y entretenimiento a personas de todas las edades interesadas en conocer las especies animales del país. Este lugar se encuentra
            en la ciudad de Loja y es ideal para visitar debido a su belleza natural.
        </p>
    </div>

    <div class="admin">
        <h3>Personal Autorizado</h3>
        <ul>
            <li><a mat-button (click)="navegar()" target="_blank">-Animales</a></li>
            <li><a mat-button (click)="navegar()" target="_blank">-Voluntariado</a></li>
            <li><a mat-button (click)="navegar()" target="_blank">-Actividades</a></li>
        </ul>
    </div>
</footer>