<app-nav-component></app-nav-component>
<app-carousel-voluntarios-page></app-carousel-voluntarios-page>
<div class="ContendorPrincipal">

    <div class="contenedor">
        <h2>¡Únete a nuestra familia de voluntarios y sé parte del cambio!</h2>
        <div class="box1">
            <h3>Descubre una experiencia inolvidable</h3>
            <p>¡Únete a nuestro apasionado equipo de voluntarios y sé parte del esfuerzo por proteger y cuidar de la vida silvestre en nuestro zoológico! Si eres un amante de los animales y anhelas marcar la diferencia en su bienestar, te invitamos a formar
                parte de nuestra misión de conservación. Como voluntario, tendrás la oportunidad única de interactuar directamente con diversas especies, participar en su alimentación y cuidado diario, y contribuir a la educación y sensibilización de
                nuestros visitantes. Tu dedicación y entusiasmo serán invaluables para el bienestar de nuestros residentes peludos, emplumados y escamosos. ¡Únete a nosotros y marca una diferencia real en el mundo animal!</p>
        </div>
        <div class="box2">
            <img class="imagen" src="../../../assets/img/pages-voluntarios/voluntarios-zoo.jpg" alt="img">
        </div>
        <div class="box3">
            <img class="imagen" src="../../../assets/img/pages-voluntarios/bann2.jpg" alt="img">
        </div>
        <div class="box4">
            <h3>¿Sueñas con trabajar rodeado de animales fascinantes y contribuir a su protección y bienestar?</h3>
            <p> ¡Entonces, ser voluntario en nuestro zoológico es la oportunidad perfecta para ti! Al unirte a nuestro equipo, te sumergirás en un entorno estimulante y enriquecedor, donde aprenderás de cerca sobre el cuidado y conservación de diversas especies.
                Tu labor como voluntario abarcará desde participar en actividades de enriquecimiento animal hasta brindar apoyo en programas de reproducción y rehabilitación. Además, formarás parte de una comunidad apasionada de amantes de la naturaleza
                que comparten tu compromiso y entusiasmo. No importa tu experiencia previa, lo más importante es tu amor por los animales y tu deseo de marcar la diferencia. ¡Únete a nuestro equipo de voluntarios y vive una experiencia única en el cuidado
                y protección de la vida silvestre!</p>
        </div>
    </div>
    <hr class="mb-5">

    <h2>Conoce a nuestro equipo de voluntarios</h2>
    <app-listas-voluntarios></app-listas-voluntarios>


    <section class="final">
        <p>"¡Únete a nuestra familia de voluntarios y sé parte del cambio! Tu compromiso y pasión pueden marcar la diferencia en la vida de los animales y en la conservación de nuestro entorno natural."</p>
        <button mat-raised-button (click)="openDialog()" color="warn">¡Inscríbite!</button>
    </section>
</div>
<app-footer></app-footer>