@import url('https://fonts.googleapis.com/css?family=Sarpanch:900');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

html{
    scroll-behavior: smooth;
}

:root{
    --green-2 : #009f04;
    --green: #006400;
    --brown: #8B4513;
    --orange :#FFA500;
}